// body {
//     margin: 0;
// }

$font-headings-sans: 'Futura', 'Helvetica', sans-serif;
$font-headings-serif: Georgia, 'Times New Roman', Times, serif;
$font-body: 'Cormorant Garamond', Georgia, serif;

$color-light-green: #91cd92;
$color-light-blue: #94aad8;
$color-dark-blue: #002d54;

#wu-in-focus-2021-container {

.navbar {
    background-color: #94aad8;
    .navbar-brand img{
        height: 35px;
    }
}

.header {
    width: 100%;
    height: 70vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#94aad8+0,91cd92+100 */
    background: #94aad8; /* Old browsers */
    background: -moz-linear-gradient(top,  #94aad8 0%, #91cd92 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #94aad8 0%,#91cd92 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #94aad8 0%,#91cd92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94aad8', endColorstr='#91cd92',GradientType=0 ); /* IE6-9 */
    font-family: $font-headings-sans;
    font-weight: bold;
    color: #fff;
    display: flex;
    position: relative;

    @keyframes fadeIn {
        from {
            opacity: 0;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
        }
        to {
            opacity: 1;
            color: #fff;
            text-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
        }
    }

    .project-title {
        font-size: 130px;
        padding-bottom: 12%;
        animation: fadeIn 2s ease-in-out 1s 1 normal;
    }

}

.year-wrapper {
    background-color: $color-light-green;

    .year {
        font-size: 30px;
        font-weight: normal;
        text-align: right;
        color: #fff;
    }
}
.accordion-button {
    background-color: #fff !important;
    box-shadow: none !important;
}

.article-heading {
    .title {
        font-family: $font-headings-sans;
        font-size: 80px;
        color: $color-light-green;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 90px;
        padding-right: 40px;
        span {
            font-family: $font-headings-serif;
            font-style: italic;
            font-size: 130px;
            line-height: 130px;
            color: $color-dark-blue;
            letter-spacing: -2px;
            text-transform: lowercase;
        }
    }
    .horizontal-divider {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#94aad8+0,91cd92+100 */
        background: #94aad8; /* Old browsers */
        background: -moz-linear-gradient(left,  #94aad8 0%, #91cd92 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #94aad8 0%,#91cd92 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #94aad8 0%,#91cd92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94aad8', endColorstr='#91cd92',GradientType=1 ); /* IE6-9 */
        height: 7px;
        width: 80vw;
        margin-left: -30px;
        margin-top: -3px;
    }
    .author-info {
        font-size: 20px;
        .author {
            font-weight: bold;
        }
    }
}
.article-contents {
    font-family: $font-body;
    font-size: 1.5em;

    .image-wrapper {
        width: 160%;
        margin-left: -30%;
        img {
            width: 100%;
        }
        .credit {
            width: 100%;
            text-align: right;
            font-family: $font-headings-sans;
            font-weight: bold;
            font-size: 0.6em;
            margin-bottom: 7px;
        }
        .caption {
            font-family: $font-headings-sans;
            font-weight: normal;
            font-size: 0.6em;
        }
    }
    .dropcap-light-blue:first-letter {
        color: $color-light-blue;
        float: left;
        font-family: $font-headings-serif;
        font-style: italic;
        font-size: 75px;
        line-height: 60px;
        padding-top: 6px;
        padding-right: 8px;
        padding-left: 3px;
    }
    .dropcap-light-green:first-letter {
        color: $color-light-green;
        float: left;
        font-family: $font-headings-serif;
        font-style: italic;
        font-size: 75px;
        line-height: 60px;
        padding-top: 6px;
        padding-right: 8px;
        padding-left: 3px;
    }
}

.image-wrapper-headline {
    img {
        width: 100%;
        margin: auto
    }
    .credit {
        width: 100%;
        text-align: right;
        font-family: $font-headings-sans;
        font-weight: bold;
        font-size: 0.6em;
        margin-bottom: 7px;
    }
}

.all-caps {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.italic {
    font-style: italic;
}
.text-light-green {
    color: $color-light-green;
}
.text-light-blue {
    color: $color-light-blue;
}
.text-dark-blue {
    color: $color-dark-blue;
}

#letter-from-the-editor {
    .article-contents {    
        .dear-readers {
            font-family: $font-headings-serif;
            font-style: italic;
            color: $color-light-blue;
            font-size: 2.5em;
        }
    
        .signature {
            width: 350px;
            margin-left: -30px;
        }
    }
}

#WUPD {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 40px;
            color: $color-light-blue;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 60px;
            padding-right: 40px;
            span {
                font-family: $font-headings-sans;
                font-style: italic;
                font-weight: 300;
                font-size: 45px;
                line-height: 50px;
                color: $color-light-green;
                letter-spacing: -2px;
                text-transform: none;
            }
        }

        .horizontal-divider {
            width: calc(100% + 30px);
        }
    }
}

#sunday-morning {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 40px;
            color: $color-light-blue;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 60px;
            padding-right: 40px;
            span {
                font-family: $font-headings-sans;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 50px;
                color: $color-dark-blue;
                letter-spacing: -2px;
                text-transform: uppercase;
                i {
                    font-family: $font-headings-serif;
                    font-weight: normal;
                    font-size: 58px;
                    text-transform: lowercase;
                }
            }
        }

        .horizontal-divider {
            width: calc(100% + 50px);
            margin-left: -50px;
        }
    }
}

#freshman-sports {
    .accordion {
        z-index: 99999;
    }
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 50px;
            color: $color-light-green;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 60px;
            padding-right: 40px;
            span {
                font-size: 60px;
                line-height: 50px;
            }
        }
    }
    .horizontal-divider {
        width: calc(100% + 50px);
        margin-left: 0px;
    }
}

#improve-mental-health {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 40px;
            color: $color-dark-blue;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 50px;
            padding-right: 40px;
            div {
                display: inline;
            }
            .italic {
                font-family: $font-headings-serif;
            }
        }
    }
    .horizontal-divider {
        width: calc(100% + 50px);
        margin-left: 0px;
    }
    .article-contents {
        .note {
            font-style: italic;
        }
        .bold {
            font-weight: bold;
            font-family: $font-headings-sans;
            text-align: center;
        }
    }
}

#coaches {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 25px;
            color: $color-dark-blue;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 35px;
            padding-right: 40px;
            .serif {
                display: inline;
                font-family: $font-headings-serif;
                font-size: 70px;
                line-height: 80px;
                text-transform: none;
            }
        }
    }
    .horizontal-divider {
        width: calc(100% + 50px);
        margin-left: 0px;
    }
    .article-contents {
        .note {
            font-style: italic;
        }
        .bold {
            font-weight: bold;
            margin-top: 2em;
            font-family: $font-headings-sans;
        }
    }
}

.space {
    height: 100vh;
}

}