$font-headings-sans: 'Futura', 'Helvetica', sans-serif;
$font-headings-serif: Georgia, 'Times New Roman', Times, serif;
$font-body: 'Cormorant Garamond', Georgia, serif;

$color-light-green: #91cd92;
$color-light-blue: #94aad8;
$color-dark-blue: #002d54;

$bp-md: 768px;
$bp-sm: 576px;
$bp-xs: 415px;

#wu-in-focus-2021-wrapper {

.navbar {
    background-color: #94aad8;
    .navbar-brand img{
        height: 35px;
    }
}

.header {
    width: 100%;
    height: 70vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#94aad8+0,91cd92+100 */
    background: #94aad8; /* Old browsers */
    background: -moz-linear-gradient(top,  #94aad8 0%, #91cd92 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #94aad8 0%,#91cd92 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #94aad8 0%,#91cd92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94aad8', endColorstr='#91cd92',GradientType=0 ); /* IE6-9 */
    font-family: $font-headings-sans;
    font-weight: bold;
    color: #fff;
    display: flex;
    position: relative;

    @keyframes fadeIn {
        from {
            opacity: 0;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
        }
        to {
            opacity: 1;
            color: #fff;
            text-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
        }
    }

    .project-title {
        font-size: 130px;
        padding-bottom: 12%;
        animation: fadeIn 2s ease-in-out 1s 1 normal;

        @media (max-width: $bp-xs) {
            font-size: 92px;
        }
    }

}

.year-wrapper {
    background-color: $color-light-green;

    .year {
        font-size: 30px;
        font-weight: normal;
        text-align: right;
        color: #fff;
    }
}
.accordion-button {
    background-color: #fff !important;
    box-shadow: none !important;
}
.accordion-item {
    border: none !important;
}

.article-heading {
    button {
        border: none;
        background-color: #fff;
    }
    .title {
        font-family: $font-headings-sans;
        text-align: left;
        font-size: 80px;
        color: $color-light-green;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 90px;
        span {
            font-family: $font-headings-serif;
            font-style: italic;
            font-size: 130px;
            line-height: 130px;
            color: $color-dark-blue;
            letter-spacing: -2px;
            text-transform: lowercase;
        }
    }
    .horizontal-divider {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#94aad8+0,91cd92+100 */
        background: #94aad8; /* Old browsers */
        background: -moz-linear-gradient(left,  #94aad8 0%, #91cd92 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #94aad8 0%,#91cd92 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #94aad8 0%,#91cd92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94aad8', endColorstr='#91cd92',GradientType=1 ); /* IE6-9 */
        height: 7px;
        width: 100%;
        margin-left: 0px;
        margin-top: -3px;
    }
    .author-info {
        font-size: 20px;
        .author {
            font-weight: bold;
        }
    }
}
.article-contents {
    font-family: $font-body;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;

    .image-wrapper {
        width: 150%;
        max-width: 95vw;
        flex-shrink: 0;
        .centered-image {
            
            img {
                width: 100%;
                max-width: 95vw;
            }
        }
        .credit {
            width: 100%;
            text-align: right;
            font-family: $font-headings-sans;
            font-weight: bold;
            font-size: 0.6em;
            margin-bottom: 7px;
        }
        .caption {
            font-family: $font-headings-sans;
            font-weight: normal;
            font-size: 0.6em;
        }
    }
    .dropcap-light-blue:first-letter {
        color: $color-light-blue;
        float: left;
        font-family: $font-headings-serif;
        font-style: italic;
        font-size: 75px;
        line-height: 60px;
        padding-top: 6px;
        padding-right: 8px;
        padding-left: 3px;
    }
    .dropcap-light-green:first-letter {
        color: $color-light-green;
        float: left;
        font-family: $font-headings-serif;
        font-style: italic;
        font-size: 75px;
        line-height: 60px;
        padding-top: 6px;
        padding-right: 8px;
        padding-left: 3px;
    }
}

.image-wrapper-headline {
    img {
        width: 100%;
        margin: auto
    }
    .credit {
        width: 100%;
        text-align: right;
        font-family: $font-headings-sans;
        font-weight: bold;
        font-size: 0.6em;
        margin-bottom: 7px;
    }
}

.all-caps {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.italic {
    font-style: italic;
}
.text-light-green {
    color: $color-light-green;
}
.text-light-blue {
    color: $color-light-blue;
}
.text-dark-blue {
    color: $color-dark-blue;
}

#table-of-contents {
    .article-heading {
        text-align: center !important;
        button {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: row;
        }
        img {
            padding: 1em;
        }
        .title {
            color: $color-dark-blue;
            font-size: 60px;
        }
    }
    a {
        font-family: $font-headings-serif;
        font-size: 25px;
        font-style: italic;
        color: $color-dark-blue;
        border: none;
        padding: 0.3em 1em;
    }
}

#letter-from-the-editor {
    .article-contents {    
        .dear-readers {
            font-family: $font-headings-serif;
            font-style: italic;
            color: $color-light-blue;
            font-size: 2.5em;
        }
    
        .signature {
            width: 350px;
            margin-left: -30px;
        }
    }
    
    @media (max-width: $bp-md) {
        .article-heading {
            .title {
                font-size: 3em;
                line-height: 1.2em;
                span {
                    font-size: 1.5em;
                    line-height: 1.2em;
                }
            }
            .horizontal-divider {
                width: 100%;
                margin: 0;
            }
        }
        
        .article-contents {    
            .dear-readers {
                font-family: $font-headings-serif;
                font-style: italic;
                color: $color-light-blue;
                font-size: 1.5em;
            }
        
            .signature {
                width: 250px;
                margin-left: -10px;
            }
        }
    }

}

#police-presence-usually-is-less-about-students-security {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 40px;
            color: $color-light-blue;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 60px;
            padding-right: 40px;
            span {
                font-family: $font-headings-sans;
                font-style: italic;
                font-weight: 300;
                font-size: 45px;
                line-height: 50px;
                color: $color-light-green;
                letter-spacing: -2px;
                text-transform: none;
            }
        }

        .horizontal-divider {
            width: calc(100% + 30px);
        }
    }

    @media (max-width: $bp-md) {
        .article-heading {
            .title {
                font-size: 2.2em;
                line-height: 1.2em;
                span {
                    font-size: 1.1em;
                    line-height: 1.2em;
                }
            }
            .horizontal-divider {
                width: 100%;
                margin: 0;
            }
        }
        
        .article-contents {    
            .dear-readers {
                font-family: $font-headings-serif;
                font-style: italic;
                color: $color-light-blue;
                font-size: 1.5em;
            }
        
            .signature {
                width: 250px;
                margin-left: -10px;
            }
        }
    }

}

#sunday-morning-blues {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 40px;
            color: $color-light-blue;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 60px;
            span {
                font-family: $font-headings-sans;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 50px;
                color: $color-dark-blue;
                letter-spacing: -2px;
                text-transform: uppercase;
                i {
                    font-family: $font-headings-serif;
                    font-weight: normal;
                    font-size: 58px;
                    text-transform: lowercase;
                }
            }
        }

        .horizontal-divider {
            width: calc(100% + 50px);
            margin-left: -50px;
        }
    }
    @media (max-width: $bp-md) {
        .article-heading {
            .title {
                font-size: 1.2em;
                line-height: 1.4em;
                letter-spacing: normal;
                span {
                    font-size: 1.1em;
                    line-height: 1.4em;
                    letter-spacing: normal;
                    i {
                        font-size: 1.3em;
                        letter-spacing: normal;
                    }
                }
            }
            .horizontal-divider {
                width: 100%;
                margin: 0;
            }
        }
    }
}

#a-pandemic-disrupted-first-year-of-college-sports {
    .accordion {
        z-index: 99999;
    }
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 45px;
            color: $color-light-green;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 55px;
            span {
                font-size: 55px;
                line-height: 45px;
            }
        }
    }
    .horizontal-divider {
        width: 100%;
        margin-left: 0px;
    }
    @media (max-width: $bp-md) {
        .article-heading {
            .title {
                font-size: 1.7em;
                line-height: 1.2em;
                span {
                    font-size: 1.1em;
                    line-height: 1.2em;
                    letter-spacing: normal;
                }
            }
        }
        .image-wrapper-headline {
            .caption {
                display: none;
            }
        }
    }
}

#acknowledgement-is-not-action {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 40px;
            color: $color-dark-blue;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 50px;
            div {
                display: inline;
            }
            .italic {
                font-family: $font-headings-serif;
            }
        }
    }
    .horizontal-divider {
        width: calc(100% + 50px);
        margin-left: 0px;
    }
    .article-contents {
        .note {
            font-style: italic;
        }
        .bold {
            font-weight: bold;
            font-family: $font-headings-sans;
            text-align: center;
        }
    }
    @media (max-width: $bp-md) {
        .article-heading {
            .title {
                font-size: 1.7em;
                line-height: 1.2em;
                span {
                    font-size: 1.1em;
                    line-height: 1.2em;
                    letter-spacing: normal;
                }
            }
            .horizontal-divider {
                width: 100%;
                margin: 0;
            }
        }
    }
}

#a-new-kind-of-reality {
    .image-wrapper-headline {
        img {
            // transform: rotate(-25deg);
        }
    }
    .article-heading {
        .title {
            font-family: $font-headings-serif;
            color: $color-light-blue;
            font-size: 40px;
            font-weight: bold;
            text-transform: none;
            font-style: italic;
            line-height: 55px;
            div {
                display: inline-block;
                font-size: 50px;
                font-style: normal;
                color: $color-dark-blue;
                text-transform: uppercase;
                font-family: $font-headings-sans;
            }
            .serif {
                display: inline;
                font-family: $font-headings-serif;
                font-size: 70px;
                line-height: 80px;
                text-transform: none;
            }
        }
    }
    .horizontal-divider {
        width: calc(100% + 50px);
        margin-left: 0px;
    }
    .article-contents {
        span {
            font-weight: bold;
            font-family: $font-headings-sans;
            font-size: 0.8em;
        }
        .bold {
            font-weight: bold;
            margin-top: 2em;
            font-family: $font-headings-sans;
        }
    }
    @media (max-width: $bp-md) {
        .article-heading {
            .title {
                font-size: 1.7em;
                line-height: 1.2em;
                div, span {
                    font-size: 1.1em;
                    line-height: 1.2em;
                    letter-spacing: normal;
                }
            }
        }
        .horizontal-divider {
            width: 100%;
            margin: 0;
        }
    }
}

#there-has-to-be-a-way-to-do-a-better-job {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 25px;
            color: $color-dark-blue;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 35px;
            .serif {
                display: inline;
                font-family: $font-headings-serif;
                font-size: 70px;
                line-height: 80px;
                text-transform: none;
            }
        }
    }
    .horizontal-divider {
        width: 100%;
        margin-left: 0px;
    }
    .article-contents {
        .ken {
            width: 100%;
            margin: 0;
            img {
                width: 100%;
            }
        }
        .bold {
            font-weight: bold;
            margin-top: 2em;
            font-family: $font-headings-sans;
        }
    }
    @media (max-width: $bp-md) {
        .article-heading {
            .title {
                font-size: 1.2em;
                line-height: 1.4em;
                .serif, span {
                    font-size: 1.1em;
                    line-height: 1.2em;
                    letter-spacing: normal;
                }
            }
        }
        .horizontal-divider {
            width: 100%;
            margin: 0;
        }
    }
}

#esl-students-share-their-experience-at-WU {
    .article-heading {
        .title {
            font-family: $font-headings-serif;
            font-size: 40px;
            color: $color-dark-blue;
            text-transform: none;
            font-weight: 500;
            font-style: italic;
            line-height: 50px;
            .text-light-blue, .text-dark-blue {
                font-weight: bold;
                color: $color-light-blue;
                font-family: $font-headings-sans;
                text-transform: uppercase;
                font-style: normal;
                font-size: 35px;
                line-height: 20px;
            }
            .text-dark-blue {
                color: $color-dark-blue;
            }

            div {
                display: inline;
            }
            .italic {
                font-family: $font-headings-serif;
            }
        }
    }
    .horizontal-divider {
        width: 100%;
        margin: 0;
    }
    .article-contents {
        .note {
            font-style: italic;
        }
        .bold {
            font-weight: bold;
            font-family: $font-headings-sans;
            text-align: center;
        }
    }
    @media (max-width: $bp-md) {
        .article-heading {
            .title {
                font-size: 1.3em;
                line-height: 1.4em;
                .text-light-blue, .text-dark-blue {
                    font-size: 1.3em;
                    line-height: 1.1em;
                    letter-spacing: normal;
                }
            }
        }
        .horizontal-divider {
            width: 100%;
            margin: 0;
        }
    }
}

#hearing-in-and-out-of-the-classroom {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 30px;
            color: $color-light-blue;
            text-transform: uppercase;
            font-weight: 500;
            font-style: normal;
            font-weight: bold;
            line-height: 50px;
            .larger {
                font-size: 50px;
                line-height: 60px;
                font-weight: bold;
                text-transform: none;
            }
            .italic {
                font-size: 44px;
                color: $color-light-green;
                line-height: 50px;
                font-weight: normal;
            }
        }
    }
    .horizontal-divider {
        width: 100%;
        margin: 0;
    }
    .article-contents {
        .note {
            font-style: italic;
        }
        .bold {
            font-weight: bold;
            font-family: $font-headings-sans;
            text-align: center;
        }
    }
    @media (max-width: $bp-md) {
        .article-heading {
            .title {
                font-size: 1.3em;
                line-height: 1.4em;
                .larger{
                    font-size: 1.4em;
                    line-height: 1.1em;
                    letter-spacing: normal;
                }
                .italic {
                    font-size: 1.4em;
                    line-height: 1.1em;
                    letter-spacing: normal;
                }
            }
        }
        .horizontal-divider {
            width: 100%;
            margin: 0;
        }
    }
}

#wu-students-advocate-for-changes-on-campus {
    .article-heading {
        .title {
            font-family: $font-headings-sans;
            font-size: 30px;
            color: $color-light-blue;
            text-transform: uppercase;
            font-weight: 500;
            font-style: normal;
            font-weight: bold;
            line-height: 50px;
        }
    }
    .horizontal-divider {
        width: 100%;
        margin: 0;
    }
    .article-contents {
        .note {
            font-style: italic;
        }
        .bold {
            font-weight: bold;
            font-family: $font-headings-sans;
            text-align: center;
        }
    }
}

#audio {
    .article-heading {
        .title {
            font-family: $font-headings-serif;
            font-size: 30px;
            color: $color-dark-blue;
            text-transform: none;
            font-weight: 500;
            font-style: italic;
            font-weight: bold;
            line-height: 40px;
        }
    }
    .horizontal-divider {
        width: 100%;
        margin: 0;
    }
    .article-contents {
        .note {
            font-style: italic;
        }
        .bold {
            font-weight: bold;
            font-family: $font-headings-sans;
            text-align: center;
        }
    }
}

}