#wu-in-focus-2021-wrapper .navbar {
  background-color: #94aad8; }
  #wu-in-focus-2021-wrapper .navbar .navbar-brand img {
    height: 35px; }
#wu-in-focus-2021-wrapper .header {
  width: 100%;
  height: 70vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#94aad8+0,91cd92+100 */
  background: #94aad8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #94aad8 0%, #91cd92 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #94aad8 0%, #91cd92 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #94aad8 0%, #91cd92 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94aad8', endColorstr='#91cd92',GradientType=0 );
  /* IE6-9 */
  font-family: "Futura", "Helvetica", sans-serif;
  font-weight: bold;
  color: #fff;
  display: flex;
  position: relative; }
@keyframes fadeIn {
  from {
    opacity: 0;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.5); }
  to {
    opacity: 1;
    color: #fff;
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.5); } }
  #wu-in-focus-2021-wrapper .header .project-title {
    font-size: 130px;
    padding-bottom: 12%;
    animation: fadeIn 2s ease-in-out 1s 1 normal; }
#wu-in-focus-2021-wrapper .year-wrapper {
  background-color: #91cd92; }
  #wu-in-focus-2021-wrapper .year-wrapper .year {
    font-size: 30px;
    font-weight: normal;
    text-align: right;
    color: #fff; }
#wu-in-focus-2021-wrapper .accordion-button {
  background-color: #fff !important;
  box-shadow: none !important; }
#wu-in-focus-2021-wrapper .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 80px;
  color: #91cd92;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 90px;
  padding-right: 40px; }
  #wu-in-focus-2021-wrapper .article-heading .title span {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 130px;
    line-height: 130px;
    color: #002d54;
    letter-spacing: -2px;
    text-transform: lowercase; }
#wu-in-focus-2021-wrapper .article-heading .horizontal-divider {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#94aad8+0,91cd92+100 */
  background: #94aad8;
  /* Old browsers */
  background: -moz-linear-gradient(left, #94aad8 0%, #91cd92 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #94aad8 0%, #91cd92 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #94aad8 0%, #91cd92 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94aad8', endColorstr='#91cd92',GradientType=1 );
  /* IE6-9 */
  height: 7px;
  width: 80vw;
  margin-left: -30px;
  margin-top: -3px; }
#wu-in-focus-2021-wrapper .article-heading .author-info {
  font-size: 20px; }
  #wu-in-focus-2021-wrapper .article-heading .author-info .author {
    font-weight: bold; }
#wu-in-focus-2021-wrapper .article-contents {
  font-family: "Cormorant Garamond", Georgia, serif;
  font-size: 1.5em; }
  #wu-in-focus-2021-wrapper .article-contents .image-wrapper {
    width: 160%;
    margin-left: -30%; }
    #wu-in-focus-2021-wrapper .article-contents .image-wrapper img {
      width: 100%; }
    #wu-in-focus-2021-wrapper .article-contents .image-wrapper .credit {
      width: 100%;
      text-align: right;
      font-family: "Futura", "Helvetica", sans-serif;
      font-weight: bold;
      font-size: 0.6em;
      margin-bottom: 7px; }
    #wu-in-focus-2021-wrapper .article-contents .image-wrapper .caption {
      font-family: "Futura", "Helvetica", sans-serif;
      font-weight: normal;
      font-size: 0.6em; }
  #wu-in-focus-2021-wrapper .article-contents .dropcap-light-blue:first-letter {
    color: #94aad8;
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 75px;
    line-height: 60px;
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 3px; }
  #wu-in-focus-2021-wrapper .article-contents .dropcap-light-green:first-letter {
    color: #91cd92;
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 75px;
    line-height: 60px;
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 3px; }
#wu-in-focus-2021-wrapper .image-wrapper-headline img {
  width: 100%;
  margin: auto; }
#wu-in-focus-2021-wrapper .image-wrapper-headline .credit {
  width: 100%;
  text-align: right;
  font-family: "Futura", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 0.6em;
  margin-bottom: 7px; }
#wu-in-focus-2021-wrapper .all-caps {
  text-transform: uppercase; }
#wu-in-focus-2021-wrapper .lowercase {
  text-transform: lowercase; }
#wu-in-focus-2021-wrapper .italic {
  font-style: italic; }
#wu-in-focus-2021-wrapper .text-light-green {
  color: #91cd92; }
#wu-in-focus-2021-wrapper .text-light-blue {
  color: #94aad8; }
#wu-in-focus-2021-wrapper .text-dark-blue {
  color: #002d54; }
#wu-in-focus-2021-wrapper #letter-from-the-editor .article-contents .dear-readers {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #94aad8;
  font-size: 2.5em; }
#wu-in-focus-2021-wrapper #letter-from-the-editor .article-contents .signature {
  width: 350px;
  margin-left: -30px; }
#wu-in-focus-2021-wrapper #WUPD .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 40px;
  color: #94aad8;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
  padding-right: 40px; }
  #wu-in-focus-2021-wrapper #WUPD .article-heading .title span {
    font-family: "Futura", "Helvetica", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 45px;
    line-height: 50px;
    color: #91cd92;
    letter-spacing: -2px;
    text-transform: none; }
#wu-in-focus-2021-wrapper #WUPD .article-heading .horizontal-divider {
  width: calc(100% + 30px); }
#wu-in-focus-2021-wrapper #sunday-morning .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 40px;
  color: #94aad8;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
  padding-right: 40px; }
  #wu-in-focus-2021-wrapper #sunday-morning .article-heading .title span {
    font-family: "Futura", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #002d54;
    letter-spacing: -2px;
    text-transform: uppercase; }
    #wu-in-focus-2021-wrapper #sunday-morning .article-heading .title span i {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: normal;
      font-size: 58px;
      text-transform: lowercase; }
#wu-in-focus-2021-wrapper #sunday-morning .article-heading .horizontal-divider {
  width: calc(100% + 50px);
  margin-left: -50px; }
#wu-in-focus-2021-wrapper #freshman-sports .accordion {
  z-index: 99999; }
#wu-in-focus-2021-wrapper #freshman-sports .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 50px;
  color: #91cd92;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
  padding-right: 40px; }
  #wu-in-focus-2021-wrapper #freshman-sports .article-heading .title span {
    font-size: 60px;
    line-height: 50px; }
#wu-in-focus-2021-wrapper #freshman-sports .horizontal-divider {
  width: calc(100% + 50px);
  margin-left: 0px; }
#wu-in-focus-2021-wrapper #improve-mental-health .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 40px;
  color: #002d54;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
  padding-right: 40px; }
  #wu-in-focus-2021-wrapper #improve-mental-health .article-heading .title div {
    display: inline; }
  #wu-in-focus-2021-wrapper #improve-mental-health .article-heading .title .italic {
    font-family: Georgia, "Times New Roman", Times, serif; }
#wu-in-focus-2021-wrapper #improve-mental-health .horizontal-divider {
  width: calc(100% + 50px);
  margin-left: 0px; }
#wu-in-focus-2021-wrapper #improve-mental-health .article-contents .note {
  font-style: italic; }
#wu-in-focus-2021-wrapper #improve-mental-health .article-contents .bold {
  font-weight: bold;
  font-family: "Futura", "Helvetica", sans-serif;
  text-align: center; }
#wu-in-focus-2021-wrapper #new-reality .image-wrapper-headline img {
  transform: rotate(-25deg); }
#wu-in-focus-2021-wrapper #new-reality .article-heading .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #94aad8;
  font-size: 40px;
  font-weight: bold;
  text-transform: none;
  font-style: italic;
  line-height: 55px;
  padding-right: 40px; }
  #wu-in-focus-2021-wrapper #new-reality .article-heading .title div {
    display: inline-block;
    font-size: 50px;
    font-style: normal;
    color: #002d54;
    text-transform: uppercase;
    font-family: "Futura", "Helvetica", sans-serif; }
  #wu-in-focus-2021-wrapper #new-reality .article-heading .title .serif {
    display: inline;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 70px;
    line-height: 80px;
    text-transform: none; }
#wu-in-focus-2021-wrapper #new-reality .horizontal-divider {
  width: calc(100% + 50px);
  margin-left: 0px; }
#wu-in-focus-2021-wrapper #new-reality .article-contents span {
  font-weight: bold;
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 0.8em; }
#wu-in-focus-2021-wrapper #new-reality .article-contents .bold {
  font-weight: bold;
  margin-top: 2em;
  font-family: "Futura", "Helvetica", sans-serif; }
#wu-in-focus-2021-wrapper #coaches .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 25px;
  color: #002d54;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 35px;
  padding-right: 40px; }
  #wu-in-focus-2021-wrapper #coaches .article-heading .title .serif {
    display: inline;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 70px;
    line-height: 80px;
    text-transform: none; }
#wu-in-focus-2021-wrapper #coaches .horizontal-divider {
  width: 100%;
  margin-left: 0px; }
#wu-in-focus-2021-wrapper #coaches .article-contents .ken {
  width: 100%;
  margin: 0; }
#wu-in-focus-2021-wrapper #coaches .article-contents .bold {
  font-weight: bold;
  margin-top: 2em;
  font-family: "Futura", "Helvetica", sans-serif; }
#wu-in-focus-2021-wrapper #esl .article-heading .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  color: #002d54;
  text-transform: none;
  font-weight: 500;
  font-style: italic;
  line-height: 50px;
  padding-right: 40px; }
  #wu-in-focus-2021-wrapper #esl .article-heading .title .text-light-blue, #wu-in-focus-2021-wrapper #esl .article-heading .title .text-dark-blue {
    font-weight: bold;
    color: #94aad8;
    font-family: "Futura", "Helvetica", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-size: 35px;
    line-height: 20px; }
  #wu-in-focus-2021-wrapper #esl .article-heading .title .text-dark-blue {
    color: #002d54; }
  #wu-in-focus-2021-wrapper #esl .article-heading .title div {
    display: inline; }
  #wu-in-focus-2021-wrapper #esl .article-heading .title .italic {
    font-family: Georgia, "Times New Roman", Times, serif; }
#wu-in-focus-2021-wrapper #esl .horizontal-divider {
  width: 100%;
  margin: 0; }
#wu-in-focus-2021-wrapper #esl .article-contents .note {
  font-style: italic; }
#wu-in-focus-2021-wrapper #esl .article-contents .bold {
  font-weight: bold;
  font-family: "Futura", "Helvetica", sans-serif;
  text-align: center; }
#wu-in-focus-2021-wrapper #hearing .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 30px;
  color: #94aad8;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-weight: bold;
  line-height: 50px;
  padding-right: 40px; }
  #wu-in-focus-2021-wrapper #hearing .article-heading .title .larger {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    text-transform: none; }
  #wu-in-focus-2021-wrapper #hearing .article-heading .title .italic {
    font-size: 44px;
    color: #91cd92;
    line-height: 50px;
    font-weight: normal; }
#wu-in-focus-2021-wrapper #hearing .horizontal-divider {
  width: 100%;
  margin: 0; }
#wu-in-focus-2021-wrapper #hearing .article-contents .note {
  font-style: italic; }
#wu-in-focus-2021-wrapper #hearing .article-contents .bold {
  font-weight: bold;
  font-family: "Futura", "Helvetica", sans-serif;
  text-align: center; }
#wu-in-focus-2021-wrapper #changes .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 30px;
  color: #94aad8;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-weight: bold;
  line-height: 50px;
  padding-right: 40px; }
#wu-in-focus-2021-wrapper #changes .horizontal-divider {
  width: 100%;
  margin: 0; }
#wu-in-focus-2021-wrapper #changes .article-contents .note {
  font-style: italic; }
#wu-in-focus-2021-wrapper #changes .article-contents .bold {
  font-weight: bold;
  font-family: "Futura", "Helvetica", sans-serif;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
