#wu-in-focus-2021-container .navbar {
  background-color: #94aad8; }
  #wu-in-focus-2021-container .navbar .navbar-brand img {
    height: 35px; }
#wu-in-focus-2021-container .header {
  width: 100%;
  height: 70vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#94aad8+0,91cd92+100 */
  background: #94aad8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #94aad8 0%, #91cd92 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #94aad8 0%, #91cd92 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #94aad8 0%, #91cd92 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94aad8', endColorstr='#91cd92',GradientType=0 );
  /* IE6-9 */
  font-family: "Futura", "Helvetica", sans-serif;
  font-weight: bold;
  color: #fff;
  display: flex;
  position: relative; }
@keyframes fadeIn {
  from {
    opacity: 0;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.5); }
  to {
    opacity: 1;
    color: #fff;
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.5); } }
  #wu-in-focus-2021-container .header .project-title {
    font-size: 130px;
    padding-bottom: 12%;
    animation: fadeIn 2s ease-in-out 1s 1 normal; }
#wu-in-focus-2021-container .year-wrapper {
  background-color: #91cd92; }
  #wu-in-focus-2021-container .year-wrapper .year {
    font-size: 30px;
    font-weight: normal;
    text-align: right;
    color: #fff; }
#wu-in-focus-2021-container .accordion-button {
  background-color: #fff !important;
  box-shadow: none !important; }
#wu-in-focus-2021-container .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 80px;
  color: #91cd92;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 90px;
  padding-right: 40px; }
  #wu-in-focus-2021-container .article-heading .title span {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 130px;
    line-height: 130px;
    color: #002d54;
    letter-spacing: -2px;
    text-transform: lowercase; }
#wu-in-focus-2021-container .article-heading .horizontal-divider {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#94aad8+0,91cd92+100 */
  background: #94aad8;
  /* Old browsers */
  background: -moz-linear-gradient(left, #94aad8 0%, #91cd92 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #94aad8 0%, #91cd92 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #94aad8 0%, #91cd92 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94aad8', endColorstr='#91cd92',GradientType=1 );
  /* IE6-9 */
  height: 7px;
  width: 80vw;
  margin-left: -30px;
  margin-top: -3px; }
#wu-in-focus-2021-container .article-heading .author-info {
  font-size: 20px; }
  #wu-in-focus-2021-container .article-heading .author-info .author {
    font-weight: bold; }
#wu-in-focus-2021-container .article-contents {
  font-family: "Cormorant Garamond", Georgia, serif;
  font-size: 1.5em; }
  #wu-in-focus-2021-container .article-contents .image-wrapper {
    width: 160%;
    margin-left: -30%; }
    #wu-in-focus-2021-container .article-contents .image-wrapper img {
      width: 100%; }
    #wu-in-focus-2021-container .article-contents .image-wrapper .credit {
      width: 100%;
      text-align: right;
      font-family: "Futura", "Helvetica", sans-serif;
      font-weight: bold;
      font-size: 0.6em;
      margin-bottom: 7px; }
    #wu-in-focus-2021-container .article-contents .image-wrapper .caption {
      font-family: "Futura", "Helvetica", sans-serif;
      font-weight: normal;
      font-size: 0.6em; }
#wu-in-focus-2021-container #letter-from-the-editor .article-contents .dear-readers {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #94aad8;
  font-size: 2.5em; }
#wu-in-focus-2021-container #letter-from-the-editor .article-contents .signature {
  width: 350px;
  margin-left: -30px; }
#wu-in-focus-2021-container #WUPD .article-heading .title {
  font-family: "Futura", "Helvetica", sans-serif;
  font-size: 40px;
  color: #94aad8;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
  padding-right: 40px; }
  #wu-in-focus-2021-container #WUPD .article-heading .title span {
    font-family: "Futura", "Helvetica", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 45px;
    line-height: 50px;
    color: #91cd92;
    letter-spacing: -2px;
    text-transform: none; }
#wu-in-focus-2021-container #WUPD .article-heading .horizontal-divider {
  width: calc(100% + 30px); }
#wu-in-focus-2021-container #WUPD .dropcap-light-blue:first-letter {
  color: #94aad8;
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 75px;
  line-height: 60px;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 3px; }
#wu-in-focus-2021-container .space {
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
